@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
	/* REMOVE AFTER TESTING!! */
	#wrapper { border: 1px solid yellow; }
}

@media all and (min-width: 480px) and (max-width: 768px) {
	#header { padding: 0; }

	#logo, #nav { display: none; }

	#st-trigger-effects, #st-trigger-effects #logo { display: block; visibility: visible; }

	#content, #sidebar { grid-column: 1 / span 5; }
}

@media all and (orientation: landscape) and (max-width: 768px) {
	/* REMOVE AFTER TESTING!! */
	#wrapper { border: 1px solid orange; }

	#header { padding: 0; }

	#logo, #nav { display: none; visibility: hidden; }

	#st-trigger-effects, #st-trigger-effects #logo { display: block; visibility: visible; }

	#content, #sidebar { grid-column: 1 / span 5; }
}

@media all and (max-width: 480px) {
	/* REMOVE AFTER TESTING!! */
	#wrapper { border: 1px solid red; }

	#header { padding: 0; }

	#logo, #nav { display: none; }

	#st-trigger-effects, #st-trigger-effects #logo { display: block; visibility: visible; }

	#content, #sidebar { grid-column: 1 / span 5; }
}

/* Mobile navigation menu styles */
@media only screen and (max-width: 768px) {

}
